*{
    font-family: sans-serif;
}
#container-scanner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
img{
    box-shadow: 2px 2px 4px dodgerblue;
    margin: 20px;
}
.datainput{
    display: block;
}
label{
    color: dodgerblue;
}
input[type="text"]{
    padding: 12px;
    width: 60vw;
    margin: 20px 0;
    font-size: 16px;
    border-color: dodgerblue;
}
button{
    padding: 16px;
    margin: 0 20px;
    cursor: pointer;
}
.generate{
    background-color: dodgerblue;
    border: 0px;
}
.download{
    background-color: green;
    border: 0;
}
